<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html data-wf-site="5411185b8ac98ae336ef070c"
	data-wf-page="5411185b8ac98ae336ef070d">
{% include "head.html" %}
<body>
	{% include "navbar.html" %}
	<div class="w-container content">
		<h2>404 - page not found</h2>
		<p>
			<a href="index.html">Return to home page</a>
		</p>
	</div>
	{% include "footer.html" %}
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/webflow.js"></script>
	<!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>
