<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html data-wf-site="5411185b8ac98ae336ef070c"
	data-wf-page="5411185b8ac98ae336ef070d">
{% include "head.html" %}
<body>
{% include "navbar.html" %}
		<div class="w-container content">
		<div class="w-container content" style="top:0px; width:60%;float:left">
		<div class="line2"></div>
			<h2>ABOUT US</h2>
			<br/>
				<h3>Our Story</h3>
					<p3><b>Datacraft</b> is a Singaore-based start up founded by Mike Anderson and Daryl Arnold. It offers
					professional data science services and analytics technology as a two-pronged approach to creating value from data.</p3>
					<br/><br/>
				<h3>Our Partners</h3>
					<p3>Datacraft services are supported by industry-leading partners, and we are proud to be associated with organisations
					equally committed to providing advanced data science solutions. 
					<br/> If your company is interested in partnering with Datacraft, please do not hesitate to <a href=mailto:info@datacraft.sg">contact us</a>.</p3>
					<br/><br/>
						<a class="home_icon" href="http://www.newton-circus.com/" style="margin: 20px 0px"> <img
									src="images/about/newton-circus.png" width="280"></a>
						
							<a class="home_icon" href="http://www.upsingapore.com/" style="margin: -75px 125px; float:right"> <img
								src="images/about/up.png" width="100"></a>
						
						
							<a class="home_icon" href="http://www.nuroko.com/" style="float:none"> <img
								src="images/about/nuroko.png" width="180"></a>
						
							<a class="home_icon" href="http://www.dextra.sg/" style="margin: -55px 35px; float:right"> <img
								src="images/about/dextra.png" width="200"></a>
			
			</div>
						
			<div class="w-container content" style="top:0px; width:33%;float:right">
			
			<a class="button" href="meet-the-team.html" style="margin-top:70px; margin-left: 72px; margin-right: 72px; padding:7px 30px;"><b>Meet the Team</b></a>
				
				<div class="w-row row" style="margin-top: 20px; margin-bottom: 10px">
					
					<div class="w-col w-col-6">
						<img class="home_icon" src="images/about/about-mike.png">
					</div>
					
					<div class="w-col w-col-6">
						<img class="home_icon" src="images/about/about-daryl.png">
					</div>	
				</div>
				
				<div class="w-row row" style="margin-top: 30px">
					<div class="w-col w-col-6">
						<img class="home_icon" src="images/about/about-lucas.png" style="height:140px">
					</div>
					
					<div class="w-col w-col-6">
						<img class="home_icon" src="images/about/about-dara.png">
					</div>
				</div>
			</div>
		</div>
		
	
				
		
		<div class="w-row row" style="display: none;">
			<div class="w-col w-col-6">
				<img class="home_icon" src="images/Mike1.png"
					alt="54115c578ac98ae336ef0a15_Mike1.png">
				<h4>First and Last Name</h4>
				<h5>position / role</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Suspendisse varius enim in eros elementum tristique. Duis cursus,
					mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
					libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum
					lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
			</div>
			<div class="w-col w-col-6">
				<img class="home_icon" src="images/Mike1.png"
					alt="54115c578ac98ae336ef0a15_Mike1.png">
				<h4>First and Last Name</h4>
				<h5>position / role</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Suspendisse varius enim in eros elementum tristique. Duis cursus,
					mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
					libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum
					lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
			</div>
		</div>
	</div>
	{% include "footer.html" %}
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/webflow.js"></script>
	<!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>
