<div class="footer" style="display:none">
	<p class="footer-text">
		<span class="nc-link">Datacraft Sciences Pte Ltd</span>&nbsp;is a
		partner company of&nbsp;<span class="nc-link">
		<a class="nc-link" target="_blank" href="http://www.newton-circus.com">Newton&nbsp;Circus
				Pte Ltd</a></span>&nbsp;and active member of both&nbsp;
				<a href="http://www.upsingapore.com" class="nc-link" target="_blank">UP</a>&nbsp;and&nbsp;<a
			class="nc-link" target="_blank" href="http://www.dextra.sg">DEXTRA</a>&nbsp;innovation
		communities. <br>Copyright 2014&nbsp;
		<span class="datacraft-text">DATACRAFT</span>. All Rights Reserved.
	</p>
		<div style="margin-bottom:10px; display:none">		
			<p class="footer-text"><b>Connect With Us</b></p>
			<a href="http://www.facebook.com/datacraft.sciences" class="socialicon"><img src="images/contact/facebook.png"></a>
			<a href="#" class="socialicon"><img src="images/contact/linkedin.png"></a>
			<a href="http://www.twitter.com/datacraftsg" class="socialicon"><img src="images/contact/twitter.png"></a>
			<a href="#" class="socialicon"><img src="images/contact/youtube.png"></a>
			<a href="http://www.github.com/datacraft-sciences" class="socialicon"><img src="images/contact/github.png"></a>
		</div>
</div>