<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html data-wf-site="5411185b8ac98ae336ef070c"
	data-wf-page="5411185b8ac98ae336ef070d">
{% include "head.html" %}
<body> 
{% include "navbar.html" %}
	<div class="w-container content">
		<div class="banner" style="padding-right: 260px">
			<a class="banner-button" href="solutions.html">
			Learn more
			</a>
			<h1 style="margin-left:50px">
				<span class="datacraft-text">DATACRAFT</span> delivers advanced data science software solutions, addressing the entire 
					<b>Data Value Chain</b>.
			</h1>		
		</div>
	
		<div class="line"></div>
		
		<div class="w-row row">
			<a style="text-decoration:none" href="solutions.html">
				<div class="w-col w-col-4" href="solutions.html">
					<img class="home_icon" src="images/Icons-03.png" width="125"
						alt="541178d5429807cc37ee16a7_Icons-03.png">
					<h4>PROFESSIONAL SOLUTIONS</h4>
					<p>Our pragmatic, end-to-end consulting approach maximises the impact of data science 
					in improving business performance and helping our communities.</p>
					<a class="button" href="solutions.html#box2" style="display:none"><b>Discover</b></a>
				</div>
			</a>
			<a style="text-decoration:none" href="solutions.html">
				<div class="w-col w-col-4">
					<img class="home_icon" src="images/Icons-02.png" width="125"
						alt="541178ea8ac98ae336ef0c40_Icons-02.png">
					<h4>ADVANCED ANALYTICS</h4>
					<p>Always staying focused on the opportunity to create value from data, we select and tailor
					the right advanced analytical tools to derive the necessary insights.</p>
					<a class="button" href="solutions.html#box3" style="display:none"><b>View Case Studies</b></a>
				</div>
			</a>
			<a style="text-decoration:none" href="technology.html">
				<div class="w-col w-col-4">
					<img class="home_icon" src="images/Icons-01.png" width="125"
						alt="541178f81139f0cb37155d49_Icons-01.png">
					<h4>DATA API PLATFORM</h4>
					<p>Our platform enables quick
						implementation of data-driven solutions and makes it possible to enhance, rather than replace, existing systems and data assets.</p>
					<a class="button" href="technology.html" style="display:none"><b>Explore the Toolkit</b></a>
				</div>
			</a>
		</div>
	</div>
	{% include "footer.html" %}
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/webflow.js"></script>
	<!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>
