<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Sep 12 2014 09:32:17 GMT+0000 (UTC) -->
<html data-wf-site="5411185b8ac98ae336ef070c"
	data-wf-page="5411185b8ac98ae336ef070d">
{% include "head.html" %}
<body>
	<div class="w-nav nav top-container" data-collapse="medium"
		data-animation="default" data-duration="400" data-contain="1">
		<div class="w-container nav">
			<a class="w-nav-brand" href="index.html"> 
				<img
					src="images/datacraft logo final blue.png" width="185"
					alt="54112ab6429807cc37ee13a8_datacraft%20logo%20final%20blue.png">
			</a>
			<nav class="w-nav-menu nav" role="navigation">
				<a class="w-nav-link nav nav-text-item" href="index.html">Home</a>
				<a class="w-nav-link nav nav-text-item" href="solutions.html">solutions</a>
				<a class="w-nav-link nav nav-text-item" href="technology.html">Technology</a>
				<a class="w-nav-link nav nav-text-item" href="our-team.html">Our team</a>
				<a class="w-nav-link nav nav-text-item" href="about.html">About</a>
			</nav>
			<div class="w-nav-button nav-menu">
				<div class="w-icon-nav-menu"></div>
			</div>
		</div>
	</div>
	<div class="w-container content">
		<h1>
			<span class="datacraft-text">DATACRAFT</span> delivers advanced data
			science software solutions, enabling companies to unlock value and
			innovation from every possible source of data, from traditional
			databases to the Internet of Things.
		</h1>
		<div class="line"></div>
		<div class="w-row row">
			<div class="w-col w-col-4">
				<img class="home_icon" src="images/Icons-03.png" width="125"
					alt="541178d5429807cc37ee16a7_Icons-03.png">
				<h4>DATA SCIENCE SOLUTIONS</h4>
				<p>Data science brings the potential to significantly improve
					business performance and help our communities. Datacraft brings a
					professional, end-to-end approach to creating value from data.</p>
				<a class="button" href="#" style="display: none;">Find out more</a>
			</div>
			<div class="w-col w-col-4">
				<img class="home_icon" src="images/Icons-02.png" width="125"
					alt="541178ea8ac98ae336ef0c40_Icons-02.png">
				<h4>ADVANCED ANALYTICS</h4>
				<p>We maximise the value of data for our clients using advanced
					analytical and computational techniques - from risk prediction to
					realtime alerts to data visualisation.</p>
				<a class="button" href="#" style="display: none;">Find out more</a>
			</div>
			<div class="w-col w-col-4">
				<img class="home_icon" src="images/Icons-01.png" width="125"
					alt="541178f81139f0cb37155d49_Icons-01.png">
				<h4>DATA API PLATFORM</h4>
				<p>The Datacraft API platform provides a foundation to quickly
					implement data-driven solutions and start realising value -
					building on top of rather than replacing existing systems and
					assets.</p>
				<a class="button" href="#" style="display: none;">Find out more</a>
			</div>
		</div>
	</div> 
	{% include "footer.html" %}
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/webflow.js"></script>
	<!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>