<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html data-wf-site="5411185b8ac98ae336ef070c"
	data-wf-page="5411185b8ac98ae336ef070d">
{% include "head.html" %}
<body>
{% include "navbar.html" %}
		<div class="w-container content">
			<div style="float:right; display: none">
				<div class="arrow-left" style="display:none"></div>
				<a class="button" href="about-us.html" style="display:inline; margin-left:15px; margin-right:0px; padding:7px 35px;"><b>Go back</b></a>
			</div>
			<h2>OUR TEAM</h2>
				<div class="w-row row">
				<div class="w-col w-col-6">
					<div style="width:30%;float:left">"
					<img class="home_icon" src="images/about/about-mike.png">
					</div>
					<div style="width:70%;float:right">
					<h4 style="text-align:left; margin-top:20px">Mike Anderson</h4>
					<h5 style="text-align:left">Partner</h5>
					<p3>
						Mike specialises in data analytics and IT architecture. Mike is a
						McKinsey alumnus who holds a Double First in Maths and Economics
						from Cambridge University, an MBA from INSEAD and represented the
						UK at the International Olympiad in Informatics. Mike is a major
						contributor to the Open Data and Innovation community in Singapore
						and publishes his open source work under the moniker of <a
							href="https://github.com/mikera">mikera</a>.
					</p3>
					</div>
				</div>
				<div class="w-col w-col-6">
					<div style="width:30%;float:left">"
					<img class="home_icon" src="images/about/about-daryl.png">
					</div>
					<div style="width:65%;float:right">
					<h4 style="text-align:left; margin-top:20px">Daryl Arnold</h4>
					<h5 style="text-align:left">Partner</h5>
					<p3>Daryl Arnold is an entrepreneur experienced in data,
						marketing, technology and sustainability. Building businesses from
						the ground-up, achieving hundred million dollars plus of sales from
						Asia, Europe and America. Following exits in the digital space,
						Daryl is focused on civic innovation, open data and internet of
						things.</p3>
					</div>
				</div>
			</div>
			<div class="w-row row">
				<div class="w-col w-col-6">
					<div style="width:30%;float:left">
					<img class="home_icon" src="images/about/about-lucas.png" style="height:140px">
					</div>
					<div style="width:70%;float:right">
					<h4 style="text-align:left; margin-top: 0px">Lucas Bradstreet</h4>
					<h5 style="text-align:left">Consultant</h5>
					<p3>Lucas specialises in data analytics and artificial intelligence.
						Prior to his work at Datacraft, he assisted Oil and Gas companies
						in modernising their data capture, visualisation, analysis, 
						and reporting platforms. Lucas holds a PhD with Distinction, 
						specialising in Computer Science from the University of Western Australia, 
						and a First Class Honours in Computer Science and Information Technology. 
						Find out more about his research <a
							href="http://scholar.google.com.sg/citations?user=-O4UHegAAAAJ&hl=en">here</a> 
							and his Open Source software contributions <a
							href="https://github.com/lbradstreet/">here</a>.
					</p3>		
				</div>
				</div>
				<div class="w-col w-col-6">
				<div style="width:30%;float:left">
					<img class="home_icon" src="images/about/about-dara.png">
					</div>
					<div style="width:65%;float:right">
					<h4 style="text-align:left; margin-top: 0px">Dara Lee</h4>
					<h5 style="text-align:left">Consultant</h5>
					<p3>Dara has a degree in international development from the
						University of Cambridge and has worked with the United Nations and
						other organisations in Southeast Asia. She is passionate about
						improving the efficiency and scope of businesses engaged in
						developing our communities, and believes data science is a powerful
						tool to achieve this goal.</p3>
				</div>
				</div
		</div>
	</div>
		<div class="w-row row" style="display: none;">
			<div class="w-col w-col-6">
				<img class="home_icon" src="images/Mike1.png"
					alt="54115c578ac98ae336ef0a15_Mike1.png">
				<h4>First and Last Name</h4>
				<h5>position / role</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Suspendisse varius enim in eros elementum tristique. Duis cursus,
					mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
					libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum
					lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
			</div>
			<div class="w-col w-col-6">
				<img class="home_icon" src="images/Mike1.png"
					alt="54115c578ac98ae336ef0a15_Mike1.png">
				<h4>First and Last Name</h4>
				<h5>position / role</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Suspendisse varius enim in eros elementum tristique. Duis cursus,
					mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
					libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum
					lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
			</div>
		</div>
	</div>
	{% include "footer.html" %}
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/webflow.js"></script>
	<!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>
