<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html data-wf-site="5411185b8ac98ae336ef070c"
	data-wf-page="5411185b8ac98ae336ef070d">
{% include "head.html" %}
<script
	src="js-image-slider.js"></script>
<body>
{% include "navbar.html" %}
	
	<div class="w-container content">
		<h2>SOLUTIONS</h2>
		<p>Datacraft delivers advanced data science software solutions, enabling companies to unlock value
		and innovation from every possible source of data, from traditional databases to the Internet of Things.</p>
		<br/><br/><br/>
		
		<script type="text/javascript">
		<!--
				
	
		function switch_buttons (button) {
			document.getElementById('box1button').style.backgroundColor="#94b6dd";
			document.getElementById('box2button').style.backgroundColor="#94b6dd";
			document.getElementById('box3button').style.backgroundColor="#94b6dd";
			document.getElementById(button).style.backgroundColor="#2a6ebb";
		};
		
		function visibility_switch(id) {
			switch_buttons(id+"button");

	    if(id == 'box1') {
    		document.getElementById('box1').style.display = "block";
    		document.getElementById('box2').style.display = "none";
    		document.getElementById('box3').style.display = "none";
    		}
    
	 	if(id == 'box2') {
    		document.getElementById('box2').style.display = "block";
    		document.getElementById('box1').style.display = "none";
    		document.getElementById('box3').style.display = "none";
    		}
    
        if(id == 'box3') {
    		document.getElementById('box3').style.display = "block";
    		document.getElementById('box1').style.display = "none";
    		document.getElementById('box2').style.display = "none";
    		}
   		};
   		
   		
		
		

//-->
</script>
	<table style="width:100%">
		<tr>
			<td>
				<a id = "box1button" class="button2" style="background-color: #2a6ebb" href="#" onclick="visibility_switch('box1');">Data Value Chain</a> | 
			</td>
			<td>
				<a id = "box2button" class="button2" href="#" onclick="visibility_switch('box2');">Our Offerings</a> |
			</td>
			<td> 
				<a id = "box3button" class="button2" href="#" onclick="visibility_switch('box3');">Case Studies</a> |
			</td>
		</tr>
	</table>
	<br/><br/>
	<div id="box1">
		<h3 style="margin-top: 0px">Data Value Chain</h3>
		We believe that value can only be derived from data if you are able to successfully address all aspects of the <b>Data Value Chain</b>.
		<img class="home_icon" src="images/solutions/value-chain.png" style="margin-top:20px; width:80%; cell-padding: 20px"></img>
		<table class="table2">
			<tr>
				<td><h4>"How do we handle all <br/> of this data?"</h4></td>
				<td><h4>"What insights is the <br/> data giving us?"</h4></td>
				<td><h4>"What will we do to <br/> realise the value?"</h4></td>
			</tr>
			<tr>
				<td>
					<ul class="no_bullet" style="margin-left:-6px">
						<li class="check">Data acquisition</li>
						<li class="check">Data storage</li>
						<li class="check">Database systems</li>
						<li class="check">Information management</li>
						<li class="check">Security & privacy</li>
					</ul>
				</td>
				<td>
					<ul class="no_bullet" style="margin-left:5px">
						<li class="check">Visualisation</li>
						<li class="check">Pattern recognition</li>
						<li class="check">Statistics / data science</li>
						<li class="check">Performance monitoring</li>
						<li class="check">Predictive modelling</li>
						<li class="check">Machine learning</li>
					</ul>
				</td>
				<td>
					<ul class="no_bullet" style="margin-left:27px">
						<li class="check">Leadership</li>
						<li class="check">Strategy</li>
						<li class="check">Operations</li>
						<li class="check">Change management</li>
						<li class="check">Product design</li>
						<li class="check">Marketing</li>
						<li class="check">Personalisation</li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

<div id="box2" class="switchgroup">
	<h3 style="margin-top: 0px">Our Offerings</h3>
	We can help you to quickly start realising value from data. Here are some of the services that we offer:
	<br/><br/>
	<table class="table3">
				<tr>
					<td>
						<img class="home_icon" src="images/solutions/diagnostic.png" style="width:60px"></img>
					</td>
					<td>
						<img class="home_icon" src="images/solutions/custom.png" style="width:60px"></img>
					</td>
					<td>
						<img class="home_icon" src="images/solutions/strategy.png" style="width:60px"></img>
					</td>
					<td>
						<img class="home_icon" src="images/solutions/analysis.png" style="width:60px"></img>
					</td>
				</tr>
				<tr>
					<td>
						<h4>DATA DIAGNOSTIC</h4>
					</td>
					<td>
						<h4>CUSTOM DATA SOLUTIONS</h4>
					</td>
					<td>
						<h4>BIG DATA STRATEGY</h4>
					</td>
					<td>
						<h4>ANALYTICAL SOLUTIONS</h4>
					</td>
				</tr>
				<tr>
					<td style="padding-left:15px; padding-right:20px">
						<p2>Review your company's data inventory and <b>identify opportunities</b>
						to unlock hidden value from data.</p2>
					</td>
					<td style="padding-left:15px; padding-right:20px">
						<p2>Get <b>value from your data</b> from an end-to-end solution incorporating the best technology and substantial industry experience</p2>
					</td>
					<td style="padding-left:15px; padding-right:20px">
						<p2>Develop your <b>long-term vision</b> to realise value from data and become an effective <b>data-driven organisation</b></p2>
					</td>
					<td style="padding-left:15px; padding-right:20px">
						<p2>Solve the <b>most complex analytical problems</b> with advanced techniques, (e.g. <b>machine learning</b> with Artificial Neural Networks)</p2>
					</td>
				</tr>
			</table>
</div>

<div id="box3" class="switchgroup">
	<h3 style="margin-top: 0px">Case Studies</h3>
	Our clients trust the services we provide because we are committed to delivering consistently impactful results. See Datacraft in action below
	with a snapshot of our growing portfolio of success stories.
	<br/><br/><br/>
	
	<script javascript>
	var sliderOptions=
	{
		sliderId: "slider",
		startSlide: 0,
		effect: "13",
		effectRandom: false,
		pauseTime: 2500,
		transitionTime: 500,
		slices: 14,
		boxes: 11,
		hoverPause: 2,
		autoAdvance: false,
		captionOpacity: 0.5,
		captionEffect: "rotate",
		thumbnailsWrapperId: null,
		m: true,
		license: "mylicense"
	};

	var imageSlider=new mcImgSlider(sliderOptions);
	</script>

		<div id="sliderFrame">
	    <div id="slider" style="background: transparent;">
	           <!-- 
	            <img src="images/solutions/graph1.png"
	            	 alt="<table class='table4'>
	            	 		<tr>
	            	 			<td>
	            	 				<a class='home_icon' href='http://medtronic.com/'> <img src='images/solutions/medtronic.png' width='100'></a>
	            	 			</td>
	            	 		<tr>
	            	 			<td>
	            	 	  			<h4 style='font-size:15px; text-align: left; line-height: 20px'>Helping people with diabetes manage their glucose levels and live longer, healthier lives</h4>
	            	 	  		</td>
	            	 	  	</tr>
	            	 	  	<tr>
	        			  		<td>
	        			  			<p2>Medtronic empowers diabetes patients to understand and manage their condition through leading-edge technology, unrivaled service and support, and uncompromising leadership.</p2>
	        			  			<p2>Datacraft is working with Medtronic in applying advanced analytics to Continuous Glucose Monitoring data to help doctors create efficient and personalised care plans for their patients.</p2>
	        			  		</td>
	        			  	</tr>
	        			  	</table>"
	        		style="display: none; />
	        		 -->
	            <img src="images/solutions/graph4.png" 
	                 alt="<table class='table4'>
	                 		<tr>
	                 			<td>
	                 				  <a class='home_icon' href='http://silverline.mobi/'> <img	src='images/solutions/silverline.png' width='70' style='margin-top:15px'></a>
	                 			</td>
	                 		</tr>
	                 		<tr>
	                 			<td>
	                 		     	  <h4 style='font-size:15px; text-align: left; line-height: 20px'>Defining the Future of Mobile Security, Health, Media and Community for Seniors</h4>
	                 		     </td>
	                 		 </tr>
	                 		 <tr>
	                 		 	<td>
	           			 			 <p3>Silverline Mobile is helping seniors live healthy, safe, and active lifestyles while staying connected with caregivers.</p3>
	           						  <p3>Datacraft has developed advanced real-time server infrastructure to collect and analyse data from a range of sensors set up in the homes of Seniors.</p3>
	           					</td>
	           				</tr>
	           			</table>"
	           						  
	                       
	                 style="display: none;" />
	        <div class="mc-caption-bg" style="opacity: 0;">
	        	<div class="mc-caption" style="width: 960px;">
	        	</div>
	        </div>
	        <div class="mc-caption-bg2" style="opacity: 0;">
	        	<div class="mc-caption" style="width: 960px;"></div>
	        </div>
	        	<div class="navBulletsWrapper">
	        		<div rel="0" class="">1</div>
	        		<div rel="1" class="active">2</div>
	        		<div rel="2" class="">3</div>
	        		<div rel="3" class="">4</div>
	        	</div>
	        <div class="loading" style="display: none;"></div>
	        <div class="sliderInner">
	        	<div class="mcSlc" style="left: 0px; width: 960px; height: 400px; z-index: 1; position: absolute; opacity: 1; top: 0px; background: transparent 0% 100% no-repeat;">
	        	</div>
	     	 </div>
	    </div>
	        <!--Custom navigation buttons on both sides-->
	        <div class="group1-Wrapper">
	            <a onclick="imageSlider.previous()" class="group1-Prev"></a>
	            <a onclick="imageSlider.next()" class="group1-Next"></a>
	        </div>
	        <!--nav bar-->
	        <div style="text-align:center;padding:20px;z-index:20;">
	            <a onclick="imageSlider.previous()" class="group2-Prev"></a>
	            <a id="auto" onclick="switchAutoAdvance()" class="group2-Pause" title="Pause" style="none"></a>
	            <a onclick="imageSlider.next()" class="group2-Next"></a>
	        </div>
	    </div>
	 </div>
	 
</div>
	
	<div class="w-container content" style="display: none;">
		<h2>Solutions</h2>
		<h3>CASE STUDIES</h3>
		<div class="w-row row">
			<div class="w-col w-col-3 column col-responsive">
				<img class="home_icon" src="images/case_study-04.png" width="50"
					alt="5411c8158ac98ae336ef135d_case_study-04.png">
				<h4>Case Study</h4>
				<p>Insert small description on case study here.</p>
			</div>
			<div class="w-col w-col-3 column col-responsive">
				<img class="home_icon" src="images/case_study-04.png" width="50"
					alt="5411c8158ac98ae336ef135d_case_study-04.png">
				<h4>Case Study</h4>
				<p>Insert small description on case study here.</p>
			</div>
			<div class="w-col w-col-3 column col-responsive">
				<img class="home_icon" src="images/case_study-04.png" width="50"
					alt="5411c8158ac98ae336ef135d_case_study-04.png">
				<h4>Case Study</h4>
				<p>Insert small description on case study here.</p>
			</div>
			<div class="w-col w-col-3 column col-responsive">
				<img class="home_icon" src="images/case_study-04.png" width="50"
					alt="5411c8158ac98ae336ef135d_case_study-04.png">
				<h4>Case Study</h4>
				<p>Insert small description on case study here.</p>
			</div>
		</div>
		<h3>WHITEPAPERS AND ANALYST REPORTS</h3>
		<p class="p3">Go in-depth with Datacraft. Investigate integration
			challenges surrounding specific use cases and industries to gain a
			better understanding of the&nbsp;integration solutions Datacraft
			offers. Learn more about topics ranging from best practices for
			common integration use cases and how integration helps solve
			industry-specific challenges, to deep-dives on Datacraft products and
			services.</p>
		<div class="w-row row">
			<div class="w-col w-col-3 column col-responsive">
				<img class="home_icon" src="images/case_study-04.png" width="50"
					alt="5411c8158ac98ae336ef135d_case_study-04.png">
				<h4>
					Secrets of a<br>Great API
				</h4>
			</div>
			<div class="w-col w-col-3 column col-responsive">
				<img class="home_icon" src="images/case_study-04.png" width="50"
					alt="5411c8158ac98ae336ef135d_case_study-04.png">
				<h4>
					How to Use Hybrid<br>Integration Platforms Effectively
				</h4>
			</div>
			<div class="w-col w-col-3 column col-responsive">
				<img class="home_icon" src="images/case_study-04.png" width="50"
					alt="5411c8158ac98ae336ef135d_case_study-04.png">
				<h4>SOA</h4>
			</div>
			<div class="w-col w-col-3 column col-responsive">
				<img class="home_icon" src="images/case_study-04.png" width="50"
					alt="5411c8158ac98ae336ef135d_case_study-04.png">
				<h4>Case Study</h4>
			</div>
		</div>
		<h3>BUSINESS EXAMPLES</h3>
		<p class="p3">Lorem ipsum dolor sit amet, consectetur adipiscing
			elit. Suspendisse varius enim in eros elementum tristique. Duis
			cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
			diam libero vitae erat. Aenean faucibus nibh et justo cursus id
			rutrum lorem imperdiet.&nbsp;</p>
		<h3>PRESS ARTICLES</h3>
		<p class="p3">Lorem ipsum dolor sit amet, consectetur adipiscing
			elit. Suspendisse varius enim in eros elementum tristique. Duis
			cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
			diam libero vitae erat. Aenean faucibus nibh et justo cursus id
			rutrum lorem imperdiet.&nbsp;</p>
		<ul>
			<li><a class="article" href="#">Article 1</a></li>
			<li><a class="article" href="#">Article 1</a></li>
			<li><a class="article" href="#">Article 1</a></li>
		</ul>
	</div>
	{% include "footer.html" %}
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/webflow.js"></script>
	<!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->

<script type="text/javascript">
	if ( location.hash.length > 1 )
		{
			visibility_switch( location.hash.substring(1) );
		};
</script>

</body>
</html>