<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Sep 12 2014 09:32:17 GMT+0000 (UTC) -->
<html data-wf-site="5411185b8ac98ae336ef070c"
	data-wf-page="5411185b8ac98ae336ef070d">
{% include "head.html" %}
<body>
	<div class="w-nav nav top-container" data-collapse="medium"
		data-animation="default" data-duration="400" data-contain="1">
		<div class="w-container nav">
			<a class="w-nav-brand" href="index.html"> <img
				src="images/datacraft logo final blue.png" width="185"
				alt="54112ab6429807cc37ee13a8_datacraft%20logo%20final%20blue.png">
			</a>
			<nav class="w-nav-menu nav" role="navigation">
				<a class="w-nav-link nav nav-text-item" href="index.html">Home</a><a
					class="w-nav-link nav nav-text-item" href="solutions.html">solutions</a><a
					class="w-nav-link nav nav-text-item" href="technology.html">Technology</a><a
					class="w-nav-link nav nav-text-item" href="our-team.html">Our
					team</a> <a class="w-nav-link nav nav-text-item" href="about.html">About</a>
			</nav>
			<div class="w-nav-button nav-menu">
				<div class="w-icon-nav-menu"></div>
			</div>
		</div>
	</div>
	<div class="w-container content">
		<h2>Solutions</h2>
		<p class="p3">Coming soon.......</p>
	</div>
	<div class="w-container content" style="display: none;">
		<h2>Solutions</h2>
		<h3>CASE STUDIES</h3>
		<div class="w-row row">
			<div class="w-col w-col-3 column col-responsive">
				<img class="home_icon" src="images/case_study-04.png" width="50"
					alt="5411c8158ac98ae336ef135d_case_study-04.png">
				<h4>Case Study</h4>
				<p>Insert small description on case study here.</p>
			</div>
			<div class="w-col w-col-3 column col-responsive">
				<img class="home_icon" src="images/case_study-04.png" width="50"
					alt="5411c8158ac98ae336ef135d_case_study-04.png">
				<h4>Case Study</h4>
				<p>Insert small description on case study here.</p>
			</div>
			<div class="w-col w-col-3 column col-responsive">
				<img class="home_icon" src="images/case_study-04.png" width="50"
					alt="5411c8158ac98ae336ef135d_case_study-04.png">
				<h4>Case Study</h4>
				<p>Insert small description on case study here.</p>
			</div>
			<div class="w-col w-col-3 column col-responsive">
				<img class="home_icon" src="images/case_study-04.png" width="50"
					alt="5411c8158ac98ae336ef135d_case_study-04.png">
				<h4>Case Study</h4>
				<p>Insert small description on case study here.</p>
			</div>
		</div>
		<h3>WHITEPAPERS AND ANALYST REPORTS</h3>
		<p class="p3">Go in-depth with Datacraft. Investigate integration
			challenges surrounding specific use cases and industries to gain a
			better understanding of the&nbsp;integration solutions Datacraft
			offers. Learn more about topics ranging from best practices for
			common integration use cases and how integration helps solve
			industry-specific challenges, to deep-dives on Datacraft products and
			services.</p>
		<div class="w-row row">
			<div class="w-col w-col-3 column col-responsive">
				<img class="home_icon" src="images/case_study-04.png" width="50"
					alt="5411c8158ac98ae336ef135d_case_study-04.png">
				<h4>
					Secrets of a<br>Great API
				</h4>
			</div>
			<div class="w-col w-col-3 column col-responsive">
				<img class="home_icon" src="images/case_study-04.png" width="50"
					alt="5411c8158ac98ae336ef135d_case_study-04.png">
				<h4>
					How to Use Hybrid<br>Integration Platforms Effectively
				</h4>
			</div>
			<div class="w-col w-col-3 column col-responsive">
				<img class="home_icon" src="images/case_study-04.png" width="50"
					alt="5411c8158ac98ae336ef135d_case_study-04.png">
				<h4>SOA</h4>
			</div>
			<div class="w-col w-col-3 column col-responsive">
				<img class="home_icon" src="images/case_study-04.png" width="50"
					alt="5411c8158ac98ae336ef135d_case_study-04.png">
				<h4>Case Study</h4>
			</div>
		</div>
		<h3>BUSINESS EXAMPLES</h3>
		<p class="p3">Lorem ipsum dolor sit amet, consectetur adipiscing
			elit. Suspendisse varius enim in eros elementum tristique. Duis
			cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
			diam libero vitae erat. Aenean faucibus nibh et justo cursus id
			rutrum lorem imperdiet.&nbsp;</p>
		<h3>PRESS ARTICLES</h3>
		<p class="p3">Lorem ipsum dolor sit amet, consectetur adipiscing
			elit. Suspendisse varius enim in eros elementum tristique. Duis
			cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
			diam libero vitae erat. Aenean faucibus nibh et justo cursus id
			rutrum lorem imperdiet.&nbsp;</p>
		<ul>
			<li><a class="article" href="#">Article 1</a></li>
			<li><a class="article" href="#">Article 1</a></li>
			<li><a class="article" href="#">Article 1</a></li>
		</ul>
	</div>
	{% include "footer.html" %}
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/webflow.js"></script>
	<!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>